@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

body {
    color: white; /* Set font color to white */
    background-color: #000; /* Optional: set background to black for contrast */
    font-family: Arial, sans-serif; /* Default font family */
  }